.styledButton{
    border: none;
    border-radius: 10px;
    background-color: rgb(94, 178, 201);
    padding: 10px;
    color: white;
    width: 20px;
    height: 50px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.styledButton:hover{
    background-color: rgba(94, 178, 201, 0.838);
}