
.inputs{
  display: flex;
  flex-direction: column;
}
#input{
  margin: 10px 10px 7px 10px;
}
#btn {
  cursor: pointer;
  color: black;
  text-align: center;
  border: none;
  border-radius: 10px;
  width: 80px;
  font-size: large;
}
